[submodule "libapps"]
	path = deps/libapps
	url = https://github.com/ish-app/libapps
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive
[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/ish-app/linux
	update = none
	shallow = true
