compiler:
    - gcc
    - clang

jobs:
    include:
        - language: c
          os: linux
          dist: bionic
          addons:
              apt:
                  packages:
                      - ninja-build
          install:
              - source ~/virtualenv/python3.6/bin/activate
              - pip install meson
          script:
              - meson build $MESON_OPTS
              - ninja -C build $NINJA_TARGET
          env:
              - MESON_OPTS=-Dengine=jit
              - NINJA_TARGET=test

        - language: objective-c
          os: osx
          osx_image: xcode11
          install:
              - pip3 install meson
          addons:
              homebrew:
                  packages:
                      - ninja
                      - llvm
                  update: true
          script:
              - xcodebuild -project iSH.xcodeproj -scheme iSH -sdk iphoneos CODE_SIGNING_ALLOWED=NO

    exclude:
        - os: osx
          compiler: gcc
