<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<dict>
		<key>description</key>
		<string>Default</string>
		<key>author</key>
		<string>@tbodt</string>
		<key>link</key>
		<string>https://twitter.com/tblodt</string>
	</dict>
	<key>ihash1</key>
	<dict>
		<key>description</key>
		<string>i#</string>
		<key>author</key>
		<string>@01010101lzy</string>
		<key>link</key>
		<string>https://github.com/tbodt/ish/issues/578#issuecomment-562960935</string>
	</dict>
	<key>uninspired</key>
	<dict>
		<key>description</key>
		<string>uninspired</string>
		<key>author</key>
		<string>@saagarjha</string>
		<key>link</key>
		<string>https://github.com/tbodt/ish/issues/578#issuecomment-562906800</string>
	</dict>
	<key>pydann2</key>
	<dict>
		<key>description</key>
		<string>&gt;| Light</string>
		<key>author</key>
		<string>@PyDann</string>
		<key>link</key>
		<string>https://github.com/tbodt/ish/issues/578#issuecomment-562897067</string>
	</dict>
	<key>pydann1</key>
	<dict>
		<key>description</key>
		<string>&gt;| Dark</string>
		<key>author</key>
		<string>@PyDann</string>
		<key>link</key>
		<string>https://github.com/tbodt/ish/issues/578#issuecomment-562897067</string>
	</dict>
</dict>
</plist>
