#include "iSH.xcconfig"

MARKETING_VERSION = 1.1.1

ENABLE_BITCODE = NO // no idea why
PRODUCT_BUNDLE_IDENTIFIER = $(ROOT_BUNDLE_IDENTIFIER)
PRODUCT_APP_GROUP_IDENTIFIER = group.$(ROOT_BUNDLE_IDENTIFIER)
IPHONEOS_DEPLOYMENT_TARGET = 11.0
VERSIONING_SYSTEM = apple-generic

MESON_BUILD_DIR = $(CONFIGURATION_BUILD_DIR)/meson

SUPPORTED_PLATFORMS = iphonesimulator iphoneos macosx
