html, body, #terminal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: transparent;
    overflow: hidden;
}

#terminal {
    padding: 2px 5px;
}

.terminal {
    background: transparent;
    font-family: "Menlo";
    
    -webkit-user-select: text;
    -webkit-tap-highlight-color: transparent;
}

.terminal textarea {
    display: none;
}

.terminal .xterm-viewport {
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

.terminal:not(.focus) .terminal-cursor {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
    background-color: transparent;
}
