html, body, #terminal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: transparent;
}

#terminal {
    padding: 2px 5px;
}

.terminal {
    background: transparent;
    color: black;
    font-family: "Menlo";
    font-size: 12px;
    
    -webkit-user-select: text;
    -webkit-tap-highlight-color: transparent;
}

.terminal textarea {
    display: none;
}

.terminal .xterm-viewport {
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

.terminal.focus:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
    background-color: black;
    color: white;
}
.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid black;
    outline-offset: -1px;
    background-color: transparent;
}
