html, body, #terminal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

#terminal {
    padding: 0 5px;
}

.terminal {
    background: transparent;
    color: black;
    font-family: "Menlo";
    font-size: 12px;
    
    user-select: text;
    -webkit-user-select: text;
    -webkit-tap-highlight-color: transparent;
}

.terminal .xterm-viewport {
    background: transparent;
}

.terminal.focus:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
    background-color: black;
    color: #000;
}
.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid black;
    outline-offset: -1px;
    background-color: transparent;
}
